section.access
  .access__inner
    .access__title.section-title.section-title--center
      h2.section-title__main  Access
      .section-title__sub  アクセス
    ul.access__items
      li.access__item.item
        dl
          dt.item__title 店舗名
          dd.item__text ExciteCodeドックストア世田谷店
      li.access__item.item
        dl
          dt.item__title 住所
          dd.item__text 東京都世田谷区世田谷〇丁目〇〇-〇
      li.access__item.item
        dl
          dt.item__title 営業時間
          dd.item__text 9:00~18:00
      li.access__item.item
        dl
          dt.item__title 定休日
          dd.item__text 水曜日
      li.access__item.item
        dl
          dt.item__title 駐車場
          dd.item__text 敷地内有
  .access__map
    iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d39303.85499928295!2d131.20299402345847!3d34.34425986365708!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sja!2sjp!4v1756286255080!5m2!1sja!2sjp', width='600', height='450', style='border:0;', allowfullscreen, loading='lazy', referrerpolicy='no-referrer-when-downgrade')
