section.concept.js-concept#concept
  .concept__inner
    .concept__title.section-title
      .section-title__main  Concept
      .section-title__sub  お客様へ
    picture
      source(srcset='/img/concept-pc.jpg', media='(min-width: 1024px)', type='image/jpg')
      img(src='/img/concept-sp.jpg', alt="ドッグフードの写真")
    .concept__contents
      .concept__info-main 家族である愛犬のことを、
        br.md-show
        | とことん考えて
        br
        | 愛犬に優しいものばかりを
        br.md-show
        | あつめたお店です。
      .concept__info-sub わたしたちが食べ物やスキンケアをこだわるのと同じように。
        br
        | 毎日くちにするわんちゃんの食事やおもちゃ、シャンプーには無添加や天然素材のものを使用した安心安全な商品のみ取り扱っています。
        br
        | それぞれの悩みや年齢に応じた商品を多数そろえており、アレルギーや敏感肌、高齢などのご相談に応じたコーディネートも可能です。
        br
        | わんちゃんたちにも体にやさしく、健康でいつまでも元気に過ごせる時間が長くなるように。