section.contact
  .contact__inner
    .concept__title.section-title
      .section-title__main.section__title-white  Contact
      .section-title__sub  お問い合わせ
    .contact__btn-wrap.btn
      p.btn__text お気軽にご相談ください
      a.btn__link(href="") お問い合わせはコチラ