.mv
  .mv__inner
    .swiper
      .swiper-wrapper
        .swiper-slide
          picture
            source(srcset='/img/mv-pc01.jpg', media='(min-width: 1024px)', type='image/jpg')
            img(src='/img/mv-sp01.jpg', alt="犬の写真１")
        .swiper-slide
          picture
            source(srcset='/img/mv-pc02.jpg', media='(min-width: 1024px)', type='image/jpg')
            img(src='/img/mv-sp02.jpg', alt="犬の写真２")
        .swiper-slide
          picture
            source(srcset='/img/mv-pc03.jpg', media='(min-width: 1024px)', type='image/jpg')
            img(src='/img/mv-sp03.jpg', alt="犬の写真3")
    .mv__title-wrap
      p.mv__title-large ねえ、
        br 
        | ボクたちにも
        br 
        | こだわりがあるんだよ
      p.mv__title-small 大切な家族に安心安全なものを
      