section.service
  .section__inner
    .service__title.section-title.section-title--center.section-title-sp--right
      .section-title__main  Service
      .section-title__sub  サービス
    .section__cards-wrap
      ul.section__cards
        li.section__card.card
          picture
            source(srcset='/img/card01.jpg', media='(min-width: 1024px)', type='image/jpg')
            img(src='/img/card-sp01.jpg', alt="無添加の国産ドッグフード")
          .card__body
            p.card__text 無添加の国産ドックフード
            span.card__name FOOD
        li.section__card.card
          picture
            source(srcset='/img/card02.jpg', media='(min-width: 1024px)', type='image/jpg')
            img(src='/img/card-sp02.jpg', alt="天然由来成分ドッグ用シャンプー")
          .card__body
            p.card__text 天然由来成分ドッグ用シャンプー
            span.card__name CARE
        li.section__card.card
          picture
            source(srcset='/img/card03.jpg', media='(min-width: 1024px)', type='image/jpg')
            img(src='/img/card-sp03.jpg', alt="オーガニックコットンのおもちゃ")
          .card__body
            p.card__text オーガニックコットンのおもちゃ
            span.card__name OTHERS