
doctype
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="author", content="")
    meta(property="og:title", content="タイトル")
    meta(property="og:type", content="website")
    meta(property="og:url", content="http://任意のURL")
    meta(property="og:image", content="http://任意のURL/og_image.png")
    meta(property="og:site_name", content="")
    meta(property="og:description", content="")
    meta(property="fb:app_id", content="任意のID")
    title タイトル
    link(rel='stylesheet', href="css/reset.css")
    link(rel='stylesheet', href="css/style.css")
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css')
    script(src='https://code.jquery.com/jquery-3.3.1.js')
    script(src='https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js')
    script(src="./js/script.js" defer)
  body
    include ./common/_header.pug
    main
      .mv
        .mv__inner
          .swiper
            .swiper-wrapper
              .swiper-slide
                picture
                  source(srcset='/img/mv-pc01.jpg', media='(min-width: 1024px)', type='image/jpg')
                  img(src='/img/mv-sp01.jpg', alt="犬の写真１")
              .swiper-slide
                picture
                  source(srcset='/img/mv-pc02.jpg', media='(min-width: 1024px)', type='image/jpg')
                  img(src='/img/mv-sp02.jpg', alt="犬の写真２")
              .swiper-slide
                picture
                  source(srcset='/img/mv-pc03.jpg', media='(min-width: 1024px)', type='image/jpg')
                  img(src='/img/mv-sp03.jpg', alt="犬の写真3")
          .mv__title-wrap
            p.mv__title-large ねえ、
              br 
              | ボクたちにも
              br 
              | こだわりがあるんだよ
            p.mv__title-small 大切な家族に安心安全なものを
      section.concept
        .concept__inner
          .concept__title.section-title
            .section-title__main  Concept
            .section-title__sub  お客様へ
          picture
            source(srcset='/img/concept-pc.jpg', media='(min-width: 1024px)', type='image/jpg')
            img(src='/img/concept-sp.jpg', alt="ドッグフードの写真")
          .concept__contents
            .concept__info-main 家族である愛犬のことを、
              br.md-show
              | とことん考えて
              br
              | 愛犬に優しいものばかりを
              br.md-show
              | あつめたお店です。
            .concept__info-sub わたしたちが食べ物やスキンケアをこだわるのと同じように。
              br
              | 毎日くちにするわんちゃんの食事やおもちゃ、シャンプーには無添加や天然素材のものを使用した安心安全な商品のみ取り扱っています。
              br
              | それぞれの悩みや年齢に応じた商品を多数そろえており、アレルギーや敏感肌、高齢などのご相談に応じたコーディネートも可能です。
              br
              | わんちゃんたちにも体にやさしく、健康でいつまでも元気に過ごせる時間が長くなるように。
      section.service
        .section__inner
          .concept__title.section-title.section-title--center.section-title-sp--right
            .section-title__main  Service
            .section-title__sub  サービス
          .section__cards-wrap
            ul.section__cards
              li.section__card.card
                picture
                  source(srcset='/img/card01.jpg', media='(min-width: 1024px)', type='image/jpg')
                  img(src='/img/card-sp01.jpg', alt="無添加の国産ドッグフード")
                .card__body
                  p.card__text 無添加の国産ドックフード
                  span.card__name FOOD
              li.section__card.card
                picture
                  source(srcset='/img/card02.jpg', media='(min-width: 1024px)', type='image/jpg')
                  img(src='/img/card-sp02.jpg', alt="天然由来成分ドッグ用シャンプー")
                .card__body
                  p.card__text 天然由来成分ドッグ用シャンプー
                  span.card__name CARE
              li.section__card.card
                picture
                  source(srcset='/img/card03.jpg', media='(min-width: 1024px)', type='image/jpg')
                  img(src='/img/card-sp03.jpg', alt="オーガニックコットンのおもちゃ")
                .card__body
                  p.card__text オーガニックコットンのおもちゃ
                  span.card__name OTHERS

