
doctype
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="author", content="")
    meta(property="og:title", content="タイトル")
    meta(property="og:type", content="website")
    meta(property="og:url", content="http://任意のURL")
    meta(property="og:image", content="http://任意のURL/og_image.png")
    meta(property="og:site_name", content="")
    meta(property="og:description", content="")
    meta(property="fb:app_id", content="任意のID")
    title タイトル
    link(rel='stylesheet', href="css/reset.css")
    link(rel='stylesheet', href="css/style.css")
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css')
    script(src='https://code.jquery.com/jquery-3.3.1.js')
    script(src='https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js')
    script(src="./js/script.js" defer)
  body
    include ./common/_header.pug
    main
      .mv
        .mv__inner
          .swiper
            .swiper-wrapper
              .swiper-slide
                picture
                  source(srcset='/img/mv-pc01.jpg', media='(min-width: 1024px)', type='image/jpg')
                  img(src='/img/mv-sp01.jpg', alt="犬の写真１")
              .swiper-slide
                picture
                  source(srcset='/img/mv-pc02.jpg', media='(min-width: 1024px)', type='image/jpg')
                  img(src='/img/mv-sp02.jpg', alt="犬の写真２")
              .swiper-slide
                picture
                  source(srcset='/img/mv-pc03.jpg', media='(min-width: 1024px)', type='image/jpg')
                  img(src='/img/mv-sp03.jpg', alt="犬の写真3")
          .mv__title-wrap
            p.mv__title-large ねえ、
              br 
              | ボクたちにも
              br 
              | こだわりがあるんだよ
            p.mv__title-small 大切な家族に安心安全なものを