header.header
  .header__inner
    h1.header__title
      img.header-title__img(src='./img/title.svg', alt='タイトル')
    ul.header__items.md-none
      li.header__item
        a.header__link.js-header__link(href="#concept") Concept
      li.header__item
        a.header__link.js-header__link(href="#concept") Service
      li.header__item
        a.header__link.js-header__link(href="#concept") Access
      li.header__item
        a.header__link.header__link--contact(href="#concept") Contact
    .hamberger.md-show.js-hamberger
      span
      span
      span
    .drawer.js-drawer
      .drawer__inner
        ul.drawer__items
          li.drawer__item
            a.drawer__link.js-drawer__link(href="#concept") Concept
          li.drawer__item
            a.drawer__link.js-drawer__link(href="#concept") Service
          li.drawer__item
            a.drawer__link.js-drawer__link(href="#concept") Access
          li.drawer__item
            a.drawer__link.drawer__link--contact(href="#concept") Contact